<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.business.BillOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.manage.entity.business.BillOrder">
        <id column="id" property="id" />
        <result column="person_name" property="personName" />
        <result column="id_number" property="idNumber" />
        <result column="pay_amt" property="payAmt" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, person_name, id_number, pay_amt, create_by, create_time, update_by, update_time, status, deleted
    </sql>

    <select id="getBillOrderById" parameterType="java.lang.Integer" resultType="com.example.manage.vo.business.BillOrderVO">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            bill_order
        WHERE
            id = #{billId}
    </select>
</mapper>
