<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.system.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.manage.entity.system.SysUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="enabled" property="enabled" />
        <result column="account_non_expired" property="accountNonExpired" />
        <result column="account_non_locked" property="accountNonLocked" />
        <result column="credentials_non_expired" property="credentialsNonExpired" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, user_name, password, last_login_time, enabled, account_non_expired, account_non_locked, credentials_non_expired, create_time, update_time, create_by, update_by
    </sql>

</mapper>
